.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background: url('../public/assets/table/popup-bg.png') no-repeat center center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 1000;
}

.popup-logo {
    width: 60vw;
    margin-top: -3rem;
    z-index: 1;
}

.popup-content {
    text-align: center;
    color: #fff;
    line-height: 1;

}

.popup-title {
    font-size: 4rem;
    text-transform: uppercase;
    margin-top: -4rem;

}

.popup-subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
}

.popup-highlight {
    font-size: 2.5rem;
    color: yellow;
}

.popup-info-container {
    display: flex;
    align-items: center;
}

.popup-icon {
    width: 4rem;
}

.popup-info {
    font-size: 0.8rem;
    letter-spacing: 0;
    text-align: start;
}

.popup-button {
    font-family: 'Sigmar', sans-serif;
    padding: 30px 60px 30px 60px;
    color: #FFF;
    font-size: 28px;
    background: url('../public/assets/table/button-spin.png') center/cover no-repeat;
    border: none;
    animation: pulse 1s ease-in-out infinite;
}

.button-spin:disabled {
    opacity: 0.5;
    filter: grayscale(100%);
    cursor: not-allowed;
    pointer-events: none;
}

.timer {
    width: 100px;
    height: 80px;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../public/assets/table/timer-bg.png') center/contain no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.time {
    font-variant-numeric: tabular-nums;
    font-feature-settings: 'tnum';
    font-weight: bold;
    font-size: 2rem;
    width: 5ch;
    text-align: center;
    line-height: 1;
}