/* 1) Затемнювач фонового контенту */
.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

/* 2) Основний контейнер popup-а */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    /* max-width: 360px; */
    /* щоб фон повністю вміщався */
    /* aspect-ratio: 2 / 4; */
    /* регулює ширину/висоту */
    background: url('/public/assets/table/popup-bg.png') no-repeat center center;
    background-size: contain;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    box-sizing: border-box;
    z-index: 1000;
}

/* 3) Логотип зверху */
.popup-logo {
    width: 60vw;
    margin-top: -3rem;
    z-index: 1;
}

/* 4) Обгортка тексту */
.popup-content {
    text-align: center;
    color: #fff;
    line-height: 1;

}


.popup-title {
    font-size: 5rem;
    text-transform: uppercase;
    margin-top: -4rem;

}

.popup-subtitle {
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
}

/* Акцентний текст із градієнтом */
.popup-highlight {
    font-size: 4rem;
    color: yellow;
    /* line-height: 1; */
}

/* Допоміжний опис */
.popup-info-container {
    display: flex;

    align-items: center;
}

.popup-icon {
    width: 7rem;
}

.popup-info {
    font-size: 1rem;
    letter-spacing: 0;
    text-align: start;
}


/* 5) Кнопка ACTIVATE */
.popup-button {
    font-family: 'Sigmar', sans-serif;
    padding: 30px 60px 30px 60px;
    color: #FFF;
    font-size: 32px;
    background: url('/public/assets/table/button-spin.png') center/cover no-repeat;
    border: none;
    animation: pulse 1s ease-in-out infinite;
}

/* @media (min-width: 600px) {
    .popup-title {
        font-size: 3.5rem;
    }

    .popup-subtitle {
        font-size: 1.5rem;
    }

    .popup-highlight {
        font-size: 2.75rem;
    }

    .popup-info {
        font-size: 1.1rem;
    }

    .popup-button {
        font-size: 1.5rem;
        max-width: 280px;
    }
} */

.timer {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.time {
    font-weight: bold;
    font-size: 3rem;
}