@import url('./popup.css');
@import url('./slots.css');

/* ==== GLOBAL ==== */

body {
    font-family: 'Sigmar', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: url('../public/assets/other/main-bg.webp') center/cover no-repeat;
    height: 100vh;
    overflow: hidden;


}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}


.hidden {
    display: none;
    opacity: 0;
    pointer-events: none;

}

.corner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.corner-img {
    position: absolute;
    top: 0;
    object-fit: contain;

}

.corner-img.left {
    top: -2vw;
    width: 45vw;
    z-index: 2;
}

.corner-img.right {
    left: 22vw;
    width: 90vw;
    top: -5vw;
    z-index: 1;
}


/* ==== LOADER ==== */

.loader-bg {
    position: fixed;
    inset: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../public/assets/other/load-bg.png') center/cover no-repeat;
    z-index: 10001;
}