@import url('./popup.css');

/* ==== GLOBAL ==== */

body {
    font-family: 'Sigmar', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: url('../public/assets/other/main-bg.webp') center/cover no-repeat;
    height: 100vh;
    overflow: hidden;


}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}


.hidden {
    display: none;
    opacity: 0;
    pointer-events: none;

}

.corner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.corner-img {
    position: absolute;
    top: 0;
    object-fit: contain;

}

.corner-img.left {
    top: -2vw;
    width: 45vw;
    z-index: 2;
}

.corner-img.right {
    left: 22vw;
    width: 90vw;
    top: -5vw;
    z-index: 1;
}


/* ==== LOADER ==== */

.loader-bg {
    position: fixed;
    inset: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../public/assets/other/load-bg.png') center/cover no-repeat;
    z-index: 10001;
}


/* ==== SLOTS ==== */

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    position: fixed;
    inset: 0;
    padding: 0;
    z-index: 999;
}

.slotArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../public/assets/slots/slotsbg.png') center/cover no-repeat;
    background-size: 125% 100%;
    position: relative;
    z-index: 10;
    gap: 8px;
    width: 100%;
    align-items: center;
    padding: 60px 0;

    overflow: hidden;
}


.slot img {
    width: 100%;
    height: auto;
    display: block;

}

.slot-row {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

.slot-image {
    width: 25vw;
    height: 25vw;
    border-radius: 5px;
}

.free-spins-container {
    padding: 10px 20px;
    margin-top: -55px;
    background: url('../public/assets/table/table-free-spins.png') center/cover no-repeat;
    text-align: center;
    overflow: hidden;
}


.text-free-spins {
    font-size: 36px;
    background: linear-gradient(180deg, hsl(358, 100%, 80%), #fad0c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.button-spin {
    font-family: 'Sigmar', sans-serif;
    padding: 0 60px 0 60px;
    color: #FFF;
    font-size: 64px;
    background: url('../public/assets/table/button-spin.png') center/cover no-repeat;
    border: none;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);

    }

    50% {
        transform: scale(1.1);

    }

    100% {
        transform: scale(1);

    }
}

/* Додаємо швидкий легкий зсув, ніби барабан трясеться */
.slot-row.spinning {
    animation: vibrate 0.1s infinite;
}

@keyframes vibrate {
    0% {
        transform: translateY(0) scale(1);
    }

    25% {
        transform: translateY(-5px) scale(1.02);
    }

    50% {
        transform: translateY(0) scale(1);
    }

    75% {
        transform: translateY(5px) scale(0.98);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

/* Ефект блимання */
@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Клас, що викликає анімацію блимання */
.blink {
    animation: blink 0.8s ease-in-out infinite;
}